{% extends 'base.html' %}

{% block head %}
    <title>Index Page - Group 1</title>
{% endblock %}


{% block body %}
  <!-- Header-->
        <header class="py-4">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-1 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">This is the Final Project. </h1>

                    </div>
                </div>
            </div>
        </header>
{% endblock %}